configuration {
	width: 40;
	lines: 8;
	columns: 1;
	font: "Ubuntu Mono Nerd Font 12";
	show-icons: true;
	line-margin: 10;
	theme: "~/.config/rofi/nord.rasi";
	display-window: "";
	display-run: "";
	display-ssh: "";
	display-drun: "";
	display-combi: "";
}
