configuration {
    matching: "fuzzy";
    sort: true;
    sorting-method: "fzf";

    show-icons: true;
    icon-theme: "Papirus";

    ssh {
        display-name: "  ";
    }
    run {
        display-name: "  ";
    }
    drun {
        display-name: "  ";
    }
    window {
        display-name: " " ;
    }
    combi {
        display-name: "  ";
    }
}

@theme "~/.config/rofi/nord.rasi"
