configuration {
    sort: true;
    sorting-method: "fzf";

    show-icons: true;
    icon-theme: "Papirus-Dark";

    ssh {
        display-name: "  ";
    }
    run {
        display-name: "  ";
    }
    drun {
        display-name: "  ";
    }
    window {
        display-name: "  " ;
    }
    combi {
        display-name: "  ";
    }
    git {
        display-name: " ";
    }
}

@theme "~/.config/rofi/nord.rasi"
